define host {
  host_name drew-serv
  alias drew-serv
  use linux-servers-host
  address 192.168.1.125
  parents drew-24portsw
  icon_image redhat.png
  icon_image_alt Redhat
  vrml_image redhat.png
  statusmap_image	redhat.gd2
  ;2d_coords 100,250
  ;3d_coords 100.0,50.0,75.0
}

define host {
  host_name drew-piv3
  alias drew-piv3
  use linux-servers-host
  address 192.168.1.121
  parents drew-ups-ng-sw
  icon_image debian.png
  icon_image_alt Debian
  vrml_image debian.png
  statusmap_image	debian.gd2
  ;2d_coords	 100,250
  ;3d_coords 100.0,50.0,75.0
}


define host {
  host_name drew-pine64
  alias drew-pine64
  use linux-servers-host
  address 192.168.1.130
  parents drew-ups-ng-sw
  icon_image debian.png
  icon_image_alt Debian
  vrml_image debian.png
  statusmap_image	debian.gd2
  ;2d_coords	 100,250
  ;3d_coords 100.0,50.0,75.0
}

 define host {
   host_name router
   alias router
   use network-host
   address 192.168.1.1
   parents albq-agw1.inet.qwest.net ; modem
   notes This is a router
   icon_image router40.png
   icon_image_alt Router
   vrml_image router40.png
   statusmap_image	router40.gd2
   ;2d_coords 100,250
   ;3d_coords 100.0,50.0,75.0
 }

define host {
  host_name wifi-extender
  alias wifi-extender
  use network-host
  address 192.168.1.10
  parents drew-24portsw
  notes	This is a wifi-extender
  icon_image wifi.gif
  icon_image_alt wifi-extender
  vrml_image wifi.gif
  statusmap_image	wifi.gd2
  ;2d_coords 100,250
  ;3d_coords 100.0,50.0,75.0
}

define host {
  host_name drew-24portsw
  alias drew-24portsw
  use network-host
  address 192.168.1.127
  parents drew-ups-ng-sw
  notes This is a 24 port switch
  icon_image switch40.png
  icon_image_alt Switch
  vrml_image switch40.png
  statusmap_image	switch40.gd2
  ;2d_coords 100,250
  ;3d_coords 100.0,50.0,75.0
}

define host {
  host_name drew-ups-ng-sw
  alias drew-ups-ng-sw
  use network-host
  address 192.168.1.131
  parents router
  notes This is a 8 port switch
  icon_image switch40.png
  icon_image_alt Switch
  vrml_image switch40.png
  statusmap_image	switch40.gd2
  ;2d_coords 100,250
  ;3d_coords 100.0,50.0,75.0
}

define host {
  host_name drew-ups-sw-pro
  alias drew-ups-sw-pro
  use network-host
  address 192.168.1.133
  parents drew-ups-ng-sw
  notes This is a 8 port switch
  icon_image switch40.png
  icon_image_alt Switch
  vrml_image switch40.png
  statusmap_image	switch40.gd2
  ;2d_coords 100,250
  ;3d_coords 100.0,50.0,75.0
}

define host {
  host_name drew-spiderkvm
  alias drew-spiderkvm
  use network-host
  address 192.168.1.122
  parents drew-24portsw
  notes This is a KVM over IP
  icon_image thin-client.gif
  icon_image_alt Spider KVM
  vrml_image thin-client.gif
  statusmap_image	thin-client.gd2
  ;2d_coords 100,250
  ;3d_coords 100.0,50.0,75.0
}

; define host {
;   host_name modem
;   alias modem
;   use network-host
;   address 192.168.0.1
;   parents albq-agw1.inet.qwest.net
;   notes	This is a modem
;   icon_image internet.gif
;   icon_image_alt Modem
;   vrml_image internet.gif
;   statusmap_image	internet.gd2
;   ;2d_coords 100,250
;   ;3d_coords	100.0,50.0,75.0
; }


define host {
  host_name albq-agw1.inet.qwest.net
  alias albq-agw1.inet.qwest.net
  use network-host
  address albq-agw1.inet.qwest.net
  notes	This is a gateway
  icon_image internet.gif
  icon_image_alt Gateway
  vrml_image internet.gif
  statusmap_image	internet.gd2
  ;2d_coords 100,250
  ;3d_coords 100.0,50.0,75.0
}

define host {
  host_name invadelabs.com
  alias invadelabs.com
  use network-host
  address invadelabs.com
  parents albq-agw1.inet.qwest.net
  notes	This is a website
  icon_image internet.gif
  icon_image_alt Website
  vrml_image internet.gif
  statusmap_image	internet.gd2
  ;2d_coords 100,250
  ;3d_coords 100.0,50.0,75.0
}
