# http redirect http://drew.invadelabs.com to https://drew.invadelabs.com
define service {
  host                 drew.invadelabs.com
  service_description  http://drew to https://drew redirect
  use                  http-service
  check_command        check-http-redirect!http://www.invadelabs.com!https://invadelabs.com!302
}

# https://drew.invadelabs.com string test "DrewWiki"
define service {
  host                 drew.invadelabs.com
  service_description  String Check
  use                  generic-service
  check_command        check-https-string!https://drew.invadelabs.com/Main_Page!"DrewWiki"
}
